{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Activity{% endblock %}</h1>
<link href="{{ root_url + url_for('blog.feed') }}" rel="alternate" title="Panchayat RSS" type="application/atom+xml">
{% endblock %}

{% block content %}
<hr style="border:1px solid;">
{% for post, highlight, tlp_switch in posts.compressed_reverse_chrono_ancestry(g.user) %}
{{ renderpost(post, indented=true, referrer="blog.activity", highlight=highlight) }}
{% if tlp_switch %}
<hr style="border:1px solid;">
{% endif %}
<hr>
{% endfor %}
{% endblock %}
