{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Search{% endblock %}</h1>
<link href="{{ root_url + url_for('blog.feed') }}" rel="alternate" title="Panchayat RSS" type="application/atom+xml">
{% endblock %}

{% block content %}

Perform advanced semantic searches on the forum. Built upon <a href="https://github.com/debanjum/khoj">Khoj</a>.
Examples:<br>
<ul>
    <li>What is the meaning of life?</li>
    <li>What is the state of the Space Race?</li>
    <li>How to learn efficiently</li>
</ul>

<form method="post">
    <label for="text">Query</label>
    <input autofocus name="text" id="text" value="{{ request.form['text'] }}" placeholder="Notorious historical figures">
    <div>
    </div>
    <input type="submit" value="Search">
</form>

{% for post in posts %}
{{ renderpost(post, indented=False, referrer="blog.activity") }}
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}
