{% extends 'base.html' %}
{% block title %}Submit{% endblock %}
{% block header %}

<div>
  <h1>
    <a class="action" href="{{ url_for('blog.reply_url', parent=parent.post_id if parent else 0, referrer=request.args.get('referrer')) }}"
       {% if is_url %}style="background-color:lightgray;"{% endif %}>Link</a>
  </h1>
</div>

<div>
  <h1>
    <a class="action" href="{{ url_for('blog.reply_text', parent=parent.post_id if parent else 0, referrer=request.args.get('referrer'))}}"
       {% if not is_url %}style="background-color:lightgray;"{% endif %}>Text</a>
  </h1>
<div>

{% endblock %}

{% block content %}
{% for post in parent.ancestry %}
{{ renderpost(post, indented=True) }}
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}

<form method="post">
    {% if is_url or not parent %}
        <label for="title">Title</label>
        <input name="title" id="title" value="{{ suggested_title or request.form['title'] }}">
    {% endif %}
    {% if is_url %}
        <label for="body">Link URL</label>
        <input name="body" id="body" value="{{ request.form['body'] }}">
    {% else %}
        <label for="body">Body</label>
        <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    {% endif %}
    <label for="visibility">Visibility</label>
    <select name="visibility" id="visibility">
        <option value="Select" selected>Select</option>
        <option value="Aham">Aham - Only visible to you</option>
        <option value="Gram">Gram - Visible to all logged in users</option>
        <option value="Lok">Lok - Visible without logging in</option>
    </select>
    <hr>
    {% if is_url %}
        <input type="submit" name="title_button" value="Suggest Title">
    {% endif %}
    <input type="submit" name="save_button" value="Save">
</form>
{% endblock %}
