{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Search{% endblock %}</h1>
<link href="{{ root_url + url_for('blog.feed') }}" rel="alternate" title="Panchayat RSS" type="application/atom+xml">
{% endblock %}

{% block content %}

Perform advanced semantic searches on the forum. Please don't query for <a href="https://xkcd.com/327/">bobby tables.</a> <br>
Examples:<br>
<table style="width:100%">
    <tr>
        <th>Query</th>
        <th>Filter</th>
        <th>Sort Key</th>
    </tr>
    <tr>
        <td>All posts by Yoda</td>
        <td>post.author.username == "yoda"</td>
        <td>post.post_id</td>
    </tr>
    <tr>
        <td>All TLPs by yoda sorted by vote_count</td>
        <td>post.is_tlp() and post.author.username == "yoda"</td>
        <td>post.vote_count</td>
    </tr>
    <tr>
        <td>All posts containing the word "panchayat"</td>
        <td>"panchayat" in post.body</td>
        <td>post.post_id</td>
    </tr>
    <tr>
        <td>All TLPs sorted by #comments</td>
        <td>post.is_tlp()</td>
        <td>len(post.descendants)</td>
    </tr>
</table> 

<form method="post">
    <label for="filter">Filter</label>
    <input name="filter" id="filter" value="{{ request.form['filter'] or 'True' }}">
    <label for="sort-key">Sort Key</label>
    <input name="sort-key" id="sort-key" value="{{ request.form['sort-key'] or 'post.post_id' }}">
    <div>
    <input type="checkbox" name="reverse" id="reverse" {{"" if request.form['reverse'] == "off" else 'checked' }}>
    <label for="reverse">Reverse</label>
    </div>
    <input type="submit" name="save_button" value="Search">
</form>

{% for post in posts %}
{{ renderpost(post, indented=False, referrer="blog.activity") }}
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}
