{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Edit{% endblock %}</h1>
{% endblock %}

{% block content %}
{% for post in post.ancestors %}
{{ renderpost(post, indented=True) }}
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
<form method="post">
    {% if post.is_url() or post.depth == 0 %}
    <label for="title">Title</label>
    <input name="title" id="title"
           value="{{ request.form['title'] or post['title'] }}">
    {% endif %}
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
    <label for="visibility">Visibility</label>
    <select name="visibility" id="visibility">
        <option value="Aham" {{"selected" if post.target_visibility.name == "Aham" }}>Aham - Only visible to you</option>
        <option value="Gram" {{"selected" if post.target_visibility.name == "Gram"}}>Gram - Visible to all logged in users</option>
        <option value="Lok" {{"selected" if post.target_visibility.name == "Lok" }}>Lok - Visible without logging in</option>
    </select>
    <hr>
    <input type="submit" value="Save">
</form>
<hr>
<form action="{{ url_for('blog.delete', post_id=post['post_id'], referrer=request.args.get('referrer')) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
</form>
{% endblock %}
