{% for post in new_post.ancestry %}
<section class="content" {% if not post.is_tlp() and post == new_post %}style="background-color:lemonchiffon"{% endif %}>
    <article id="{{post.post_id}}" class="post" style="margin-left:{{30*post.depth}}px;">
        <b>{{post.author}}</b> posted at <a href="{{root_url}}/#{{post.post_id}}">{{post.created.strftime("%H:%M, %d %b %y")}}</a>
        <h1>
            {% if post.is_tlp() or post.is_url() %}
                {% if post.is_url() %}
                    <a href="{{ post.body }}">{{ post.title }}</a>
                {% else %}
                    {{ post.title }}
                {% endif %}
            {% endif %}
        </h1>
        {% if not post.is_url() %}
        <p class="body" style="white-space: pre-line; word-wrap: break-word;">{{ post.body }}</p>
        {% endif %}
        <a class="action" href="mailto:{{slug}}+{{post.post_id}}@{{external_domain}}?subject={{post.tlp.title}}">Reply</a>
    </article>
</section>
<br>
<hr>
{% endfor %}
<a class="action" href="mailto:{{root_email}}">New Post</a>
