<!doctype html>
{% from 'blog/post.html' import renderpost %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{% endblock %} - Panchayat</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style_gamma.css') }}">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='banyan-tree_32x32.png') }}" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ url_for('static', filename='banyan-tree_16x16.png') }}" sizes="16x16" />
<link rel="icon" type="image/png" href="{{ url_for('static', filename='banyan-tree_128x128.png') }}" sizes="128x128" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EYFV28NE2S"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'G-EYFV28NE2S');
</script>
{% block canonical %}{% endblock %}
<nav>
    <a href="{{ url_for('blog.index') }}"><img src="{{url_for('static', filename='banyan-tree_32x32.png')}}" alt="Panchayat"></a>
    <ul>
        <li><h4><a href="{{ url_for('blog.activity') }}">Activity</a></h4></li>
        {% if g.user %}
        <li><h4><a href="{{ url_for('blog.khoj') }}">Search</a></h4></li>
        {% endif %}
        <li><h4><a href="https://gitlab.com/haletic/panchayat">Source</a></h4></li>
        {% if g.user %}
        <li><h4><a href="{{ url_for('user.index') }}"><img src={{g.user.gravatar_url()}} style="width:30px; border-radius: 50%;" title={{g.user['username']}}></a></h4></li>
            <li><h4><a href="{{ url_for('auth.logout') }}">Log Out</a></h4></li>
        {% else %}
            <li><h4><a href="{{ url_for('auth.login') }}">Log In</a></h4></li>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
